---
title: Thoughts from Tom and Tiffany
description: Writings on software developement practices.
permalink: /thoughts/index.html
---

<!DOCTYPE html>
<html>

<head>
    <title>Laminar | {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for thoughts from golaminar.de"
        href="https://www.golaminar.de/thoughts.xml">
    <link rel="stylesheet" href="../site.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <meta property="og:title" content="Laminar | {{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://www.golaminar.de/images/laminar.png">
    <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
</head>

<body class="thought index">
    <header>
        <h1><a href="https://golaminar.de">Laminar</a></h1>
        <h2>{{ page.title }}</h2>
    </header>
    <main>

        <section class="author-bio">
            Tom Stuart and Tiffany Conroy are consultants with a combined 35+ years of experience developing
            software and leading teams.
            They help software teams change their processes to deliver more value, more frequently, and have fun doing so.
            Get in touch at <a href="mailto:hello@golaminar.de">hello@golaminar.de</a>.
        </section>

        {% for thought in site.thoughts %}
        <article>
            <h3>
                <a href="{{ thought.url }}">{{ thought.title }}</a>
                {% if thought.subtitle %}<br><span class="subtitle">{{ thought.subtitle }}</span>{% endif %}
            </h3>
            <div class="byline">
                <span class="date">{{ thought.date | date_to_long_string: "ordinal" }}</span>
            </div>

            <p>{{ thought.description }}</p>
        </article>
        {% endfor %}
    </main>

    {% include footer.html %}

</body>

</html>
