    <section class="page" id="about-us">
        <div class="cols">
            <div class="bio col">
                <div class="image-frame">
                    <a href="/tiffany/cv.html"><img src="/images/tiffany.jpg" alt="Portrait of Tiffany"></a>
                </div>
                <h2>Tiffany Conroy</h2>
                <ul>
                    <li>20 years of professional experience, former VP Engineering at SoundCloud</li>
                    <li>Has worked as a developer, designer, product manager, people manager, and engineering leader</li>
                    <li>Particular experience in process engineering, UI/UX, payments systems, and empathetic collaboration</li>
                    <li>Photographer, amateur cook, storyteller</li>
                </ul>
                <div class="contact-methods">
                    <span><a href="mailto:tiffany@golaminar.de">Email Tiffany</a></span>
                    <span><a href="https://calendly.com/tiffany-conroy">Meet with Tiffany</a></span>
                </div>
            </div>
            <div class="bio col">
                <div class="image-frame">
                    <a href="/tom/cv.html"><img src="/images/tom.jpg" alt="Portrait of Tom"></a>
                </div>
                <h2>Tom Stuart</h2>
                <ul>
                    <li>15 years of professional experience, including at SoundCloud and BCG Digital Ventures</li>
                    <li>Has worked as a developer, trainer, consultant, and engineering leader</li>
                    <li>Particular expertise in software architecture, infrastructure, and lean ways of working</li>
                    <li>Runner and standup comedian</li>
                </ul>
                <div class="contact-methods">
                    <span><a href="mailto:tom@golaminar.de">Email Tom</a></span>
                    <span><a href="https://calendly.com/get-time-with-tom">Meet with Tom</a></span>
                </div>
            </div>
        <div>
    </section>
