---
title: Book your spot for Unstuck
description: Most agile training is focussed on a set of techniques. In this 2-day hands-on workship, you will develop your intuitions to be able to critique and adjust agile techniques based on principles.
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Laminar | {{ page.title }}</title>
  <link rel="stylesheet" href="/site.css">
  <link rel="stylesheet" href="workshops.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta property="og:title" content="Laminar | {{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://www.golaminar.de/images/laminar.png">
  <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
</head>

<body class="workshop">
  <!-- <header>
    <h1><a href="https://golaminar.de">Laminar</a></h1>
  </header> -->
  <section class="page workshop-cover">
    <div class="cols">
      <div class="col">
        <ul class="questions">
          <li>Tired of having to explain why your team is slow?</li>
          <li>Do your standups and retros feel pointless?</li>
          <li>Are you feeling <strong>stuck?</strong></li>
        </ul>
      </div>
      <div class="col">
        <h2 class="title big">
          Unstuck
        </h2>
        <h3 class="title subtitle">Debug Your Delivery Process</h3>
        <p class="deets">
          A 2-day, hands-on workshop for tech leads and engineering managers
        </p>
        <p class="deets">
          <strong>August 30-31, 2023</strong> in person in Berlin, DE
        </p>
      </div>
    </div>
    <div>

    </div>
  </section>

  <section class="page">
    <div>
      <div class="story">
        <p>
          As experienced engineers and engineering leaders, we’ve regularly seen teams apply practices that didn’t solve the problems they had.</p>
        <p>
          <i>Kanban! Story points! Backlog refinement!</i> And when things don’t work out, you're often told that you're not following the methods “correctly”.
        </p>
        <p>
          <strong>We think you deserve better, and we can do better.</strong>
        </p>
      </div>
    </div>
  </section>
  <section class="page">
    <div>
      <h2>This workshop is for you if you want to …</h2>
      <div class="cols">
        <div class="col">
          <strong>Grow as a leader of healthy, productive teams</strong>
          <ul>
            <li>Help your team members be fully engaged in the parts of development that don’t involve writing code</li>
            <li>Be confident to recognize, articulate and address dysfunctions as well as mismatches between theory and practice</li>
            <li>Establish smoother delivery practices that increase both speed and quality</li>
          </ul>
        </div>
        <div class="col">
          <strong>Become a trusted partner in negotiations with product leaders</strong>
          <ul>
            <li>Become comfortable taking responsibility for timeline and scope</i></li>
            <li>Understand what problems practices solve and how they make teams fast</li>
            <li>Be qualified and confident to make process changes swiftly if necessary to reach desired outcomes</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="page">
    <div>
      <h3>What will be covered</h3>
      <p>
        The workshop will teach you sound process principles that help you recognize, articulate, and address dysfunctions. Together we’ll explore:
      </p>
      <ul>
        <li>Why working in big chunks is expensive and slow. Which techniques help you break work down to deliver value more quickly.</li>
        <li>How backlogs harm team happiness and productivity. How to set limits to say yes to the right things.</li>
        <li>How to recognize unintentional bottlenecks.</li>
        <li>How to transform collaboration to have lower stakes, be less stressful, and be more effective.</li>
        <li>How planning for failure can lead you to success faster.</li>
        <li>How to avoid hindering your development flow for the sake of strict adherence to a process.</li>
      </ul>
      <h3>What you can expect</h3>
      <ul>
        <li>🔨 Interactive exercises that build your intuition</li>
        <li>💬 Thoughtful discussion with peers</li>
        <li>🧠 Critical re-evaluation of Agile rituals</li>
        <li>💡 “A-ha” moments</li>
      </ul>

      <!-- <ul class="results">
        <li>Delivering fast doesn’t have to be stressful, but it often is.</li>
        <li>Do you feel constrained by your processes?</li>
        <li>What would it take for you to feel qualified and confident to change them?</li>
        <li>☞ Debug your delivery process.</li>
      </ul> -->

      <div class="offer">
        <h2 class="price">
          <span class="full-price">€2000</span> <span class="early-bird-price">€1400</span>
        </h2>
        <p class="deets">
          Register now and benefit from early bird pricing.
          Price is exclusive of MwSt (VAT).
        </p>
      </div>
    </div>
  </section>

  <section class="page">
    <div>
      <p>
        Most agile training is focussed on a set of techniques. In this 2-day hands-on workshop, you will develop your
        intuitions to be able to critique and adjust agile techniques based on principles.
        Whether you are brand new to working in an agile mode, or you feel like your “agile” workflow has too much overhead,
        this workshop is for you.
      </p>
    </div>
  </section>

  <section class="page" id="registration-form">
    <div>
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe
      class="airtable-embed airtable-dynamic-height"
      src="https://airtable.com/embed/shr3K77UGhT1ZPi13?backgroundColor=orangeDusty" frameborder="0" onmousewheel=""
      width="100%" height="827" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
  </section>

  <section class="page">
    <div>
      <h2>Your workshop hosts</h2>
    </div>
  </section>

  {% include about-us.html %}
  {% include footer.html %}
</body>

</html>
