---
title: Book your spot for our Agile Principles Workshop
description: Most agile training is focussed on a set of techniques. In this 2-day hands-on workship, you will develop your intuitions to be able to critique and adjust agile techniques based on principles.
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Laminar | {{ page.title }}</title>
  <link rel="stylesheet" href="/site.css">
  <link rel="stylesheet" href="workshops.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta property="og:title" content="Laminar | {{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://www.golaminar.de/images/laminar.png">
  <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
</head>

<body class="profiles">
  <header>
    <h1><a href="https://golaminar.de">Laminar</a></h1>
  </header>
  <section class="page" id="intro">
    <p class="tagline">
      {{ page.title }}
    </p>
    <div class="offer">
      <h2 class="price">
        <span class="full-price">€2000</span> <span class="early-bird-price">€1400</span>
      </h2>
      <p>
        2 days, in person. <strong>August 30-31, 2023</strong>. Price is exclusive of MwSt (VAT).
        <br>Register now and benefit from early bird pricing.
      </p>
    </div>
  </section>

  <section class="page">
    <div>
      <p>
        Most agile training is focussed on a set of techniques. In this 2-day hands-on workshop, you will develop your
        intuitions to be able to critique and adjust agile techniques based on principles.
        Whether you are brand new to working in an agile mode, or you feel like your “agile” workflow has too much overhead,
        this workshop is for you.
      </p>
    </div>

    <h2>What you can expect</h2>

    <div class="cols">
      <div class="col">
        <h3>🔨 Hands-on exercises</h3>
      </div>
      <div class="col">
        <h3>💬 Thoughtful discussion with peers</h3>
      </div>
      <div class="col">
        <h3>🧠 Critical re-evaluation of Agile rituals</h3>
      </div>
      <div class="col">
        <h3>💡 “A-ha” moments</h3>
      </div>
    </div>

    <h2>What you will learn</h2>

    <ul>
      <li>Why working in big chunks is expense and slow. What techniques help you break work down to deliver value more quickly.</li>
      <li>How backlogs harm team happiness and productivity. How to set limits to say yes to right things.</li>
      <li>How to recognize bottlenecks where you’ve unintentionally created them.</li>
      <li>How to transform collaboration to have lower stakes, be less stressful, and be more effective.</li>
      <li>How planning for failure can leads you to success faster.</li>
      <li>How to avoid hindering your development flow for the sake of strict adherence to a process.</li>
    </ul>

  </section>

  <section class="page" id="registration-form">
    <div>
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe
      class="airtable-embed airtable-dynamic-height"
      src="https://airtable.com/embed/shr3K77UGhT1ZPi13?backgroundColor=orangeDusty" frameborder="0" onmousewheel=""
      width="100%" height="827" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
  </section>

  {% include about-us.html %}
  {% include footer.html %}
</body>

</html>
