---
title: Book your spot for Unstuck
description: Most agile training is focussed on a set of techniques. In this 2-day hands-on workship, you will develop your intuitions to be able to critique and adjust agile techniques based on principles.
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Laminar | {{ page.title }}</title>
  <link rel="stylesheet" href="/site.css">
  <link rel="stylesheet" href="workshops.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta property="og:title" content="Laminar | {{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://www.golaminar.de/images/laminar.png">
  <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
</head>

<body class="workshop">
  <!-- <header>
    <h1><a href="https://golaminar.de">Laminar</a></h1>
  </header> -->
  <section class="page workshop-cover">
    <div class="cols">
      <div class="col">
        <ul class="questions">
          <li>Tired of having to explain why your team is slow?</li>
          <li>Do your standups and retros feel pointless?</li>
          <li>Are you feeling <strong>stuck?</strong></li>
        </ul>
      </div>
      <div class="col">
        <h2 class="title big">
          Unstuck:
        </h2>
        <h3 class="title subtitle">Debug Your Delivery Process</h3>
        <p class="deets">
          A 2-day, hands-on workshop for tech leads and engineering managers
        </p>
        <p class="deets">
          <a href="https://calendly.com/golaminar/discuss-workshop">→ Contact us to book</a>
        </p>
      </div>
    </div>
    <div>

    </div>
  </section>

  <section class="page">
    <div>
      <div class="story">
        <p>
          As experienced engineers and engineering leaders, we’ve regularly seen teams apply practices that didn’t solve the problems they had.</p>
        <p>
          <i>Kanban! Story points! Backlog refinement!</i> And when things don’t work out, you're often told that you're not following the methods “correctly”.
        </p>
        <p>
          <strong>We think you deserve better, and we can do better.</strong>
        </p>
      </div>
    </div>
  </section>
  <section class="page">
    <div>
      <h2>This workshop is for you if you want to …</h2>
      <div class="cols">
        <div class="col">
          <strong>Grow as a leader of healthy, productive teams</strong>
          <ul>
            <li>Help your team members be fully engaged in the parts of development that don’t involve writing code</li>
            <li>Be confident to recognize, articulate and address dysfunctions as well as mismatches between theory and practice</li>
            <li>Establish smoother delivery practices that increase both speed and quality</li>
          </ul>
        </div>
        <div class="col">
          <strong>Become a trusted partner in negotiations with product leaders</strong>
          <ul>
            <li>Become comfortable taking responsibility for timeline and scope</li>
            <li>Understand what problems practices solve and how they make teams fast</li>
            <li>Be qualified and confident to make process changes swiftly if necessary to reach desired outcomes</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="page call-to-action">
    <div>
        <a href="https://calendly.com/golaminar/discuss-workshop" class="button">Contact us to book</a>
    </div>
  </section>

  <section class="page learnings">
    <div>
      <h3>What you will learn</h3>
      <p>
        The workshop will teach you sound process principles that help you recognize, articulate, and address dysfunctions. Together we’ll explore:
      </p>
      <div class="cols">
        <div class="col">
          <ul>
            <li>Why working in big chunks is expensive and slow. Which techniques help you break work down to deliver value more quickly.</li>
            <li>How backlogs harm team happiness and productivity. How to set limits to say yes to the right things.</li>
            <li>How to recognize unintentional bottlenecks.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>How to transform collaboration to have lower stakes, be less stressful, and be more effective.</li>
            <li>How planning for failure can lead you to success faster.</li>
            <li>How to avoid hindering your development flow for the sake of strict adherence to a process.</li>
          </ul>
        </div>
      </div>
      <h3>What you can expect</h3>
      <div class="cols">
        <div class="col">
          <ul class="features">
            <li><span class="icon">🎲</span> <span class="content">Playful interactive exercises</span></li>
            <li><span class="icon">💬</span> <span class="content">Thoughtful discussion with peers</span></li>
          </ul>
        </div>
        <div class="col">
          <ul class="features">
            <li><span class="icon">🧠</span> <span class="content">Critical re-evaluation of Agile rituals</span></li>
            <li><span class="icon">💡</span> <span class="content">“A-ha” moments</span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="page call-to-action">
    <div>
      <a href="https://calendly.com/golaminar/discuss-workshop" class="button">Contact us to book</a>
    </div>
  </section>

  <section class="page">
    <div>
      <h2>Your workshop hosts</h2>
    </div>
  </section>

  {% include about-us.html just_bios=true %}

  <section class="page" id="final-pitch">
    <h2>Got questions or special requirements?</h2>
    <p>Email us at <a href="mailto:hello@golaminar.de">hello@golaminar.de</a> or <a
        href="https://calendly.com/golaminar/30-minute-call">book a time to talk</a>.</p>
  </section>
  {% include footer.html %}
</body>

</html>
