---
title: Empathetic professional coaching for technical leaders.
description: We are coaches for engineering leaders. As experienced engineering leaders ourselves, we also bring our experience as engineers, people managers, and leading teams. Hire us individually, but benefit from our partnership.
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laminar | {{ page.title }}</title>
    <link rel="stylesheet" href="/site.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta property="og:title" content="Laminar | {{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://www.golaminar.de/images/laminar.png">
    <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
</head>
<body class="profiles">
    <header>
        <h1><a href="https://golaminar.de">Laminar</a></h1>
    </header>
    <section class="page" id="intro">
        <p class="tagline">
            {{ page.title }}
        </p>
        <div class="cols">
            <div class="col">
                <p>
                    {{ page.description }}
                </p>
            </div>
            <div class="col">
                <p>
                    If you want to discuss coaching options for yourself or someone in your team, let’s talk!
                </p>
                <p>
                    <a href="https://calendly.com/golaminar/30-minute-call">→ Book an intro call.</a>
                </p>
            </div>
        </div>
    </section>

    <section class="page reverse">
        <div>
            <div class="cols">
                <div class="col">
                    <h3>Do any of these scenarios sound like you?</h3>
                    <ul>
                        <li>You are in a new role where everything feels new.</li>
                        <li>You feel like you have plateaued and wonder what is next.</li>
                        <li>You have so many demands on you that you struggle to manage.</li>
                        <li>You have doubts about your performance.</li>
                        <li>You wish you had someone to talk with about your ideas, worries, and challenges.</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Professional coaching can support you to:</h3>
                    <ul>
                        <li>Get clarity on your situation, motivations, and options.</li>
                        <li>Set clear and achievable goals that set you on a path for success and fulfillment.</li>
                        <li>Develop yourself by encouraging self-reflection and self-awareness.</li>
                        <li>Validate and refine your ideas in a supportive and non-judgmental environment.</li>
                        <li>Stay accountable and motivated by providing regular check-ins and progress assessments.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="page">
        <div>
            <h2>How our offer works</h2>
            <ol>
                <li><strong><a href="#about-us">Pick your coach.</a></strong> Review the profiles of Tom and Tiffany to determine who is a better match for
                    you.</li>
                <li><strong><a href="#book-a-session">Book a trial session.</a></strong> In that 30-minute session, you will get a taste for what
                    the coaching relationship will be like.</li>
                <li><strong><a href="#packages">Select a package.</a></strong> After your trial, let us know if you would like to continue, which coaching package meets your needs, and whether you will be paying privately or through your employer.</li>
                <li><strong>Book your first regular session.</strong> You can either schedule all your sessions at once or schedule them as you go.</li>
            </ol>

            <p>Got questions? Doubts? <a href="https://calendly.com/golaminar/30-minute-call">Set up a time to chat with both of us.</a> We’re happy to answer any questions you have, or elaborate on our individual approaches.</p>
        </div>
    </section>

    <section class="page reverse" id="packages">
        <div>
            <h2>Packages & Pricing</h2>
            <div class="cols">
                <div class="col">
                    <h3>Ad hoc — €350</h3>
                    <h4>Available when you need it</h4>
                    <ul>
                        <li>1 coaching session @ 60 minutes</li>
                        <li>No commitment — Pay as you go</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Short Term — €1000</h3>
                    <h4>Find your focus</h4>
                    <ul>
                        <li>4 coaching sessions @ 45 minutes</li>
                        <li>Approximately weekly or bi-weekly</li>
                        <li>Ad-hoc support via text chat in between sessions</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Medium Term — €2000</h3>
                    <h4>Accompanying you through transition</h4>
                    <ul>
                        <li>9 coaching sessions @ 45 minutes</li>
                        <li>Approximately weekly or bi-weekly</li>
                        <li>Ad-hoc support via text chat in between sessions</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Intensive — €3000</h3>
                    <h4>When you need a hands-on partner</h4>
                    <ul>
                        <li>Unlimited, flexible sessions and support for one month</li>
                    </ul>
                </div>
            </div>
            <p>All prices are exclusive of 19% MwSt/VAT for companies, and inclusive of MwSt/VAT for private individuals. Enquire
                about bulk discounts for teams.</p>

        </div>
    </section>

{% include about-us.html just_bios = true %}

    <section class="page call-to-action" id="book-a-session">
        <div>
            <h2>Kick off your coaching today — free, with no commitment</h2>
            <div class="cols">
                <div class="col">
                    <a href="https://calendly.com/tiffany-conroy/trial-coaching-session?back=1" class="button">Book a Trial
                        Session with Tiffany</a>
                </div>
                <div class="col">
                    <a href="https://calendly.com/get-time-with-tom/trial-coaching-call?back=1" class="button">Book a Trial
                        Session with
                        Tom</a>
                </div>
            </div>
        </div>
    </section>

    <section class="page reverse" id="testimonials">
        <h2>Testimonials</h2>
        <div class="cols">
            <div class="col testimonial">
                <!--  coaching -->
                <p>Tom has massively supported my career development – he has been a wonderful mentor and given me a great deal of confidence in my own capabilities, being incredibly available, empathetic and supportive throughout.</p>
                <p class="attribution">— Head of Engineering</p>
            </div>
            <div class="col testimonial">
                <!--  coaching -->
                <p>Tiffany’s coaching was on point. She took the lead whenever necessary without taking away the work I was supposed to do. I felt a lot more confident about handling similar situations more autonomously in the future.</p>
                <p class="attribution">— Engineering Manager</p>
            </div>
        </div>
    </section>
    <section class="page" id="final-pitch">
        <h2>Ready to learn more about how we can help you?</h2>
        <p>Email us at <a href="mailto:hello@golaminar.de">hello@golaminar.de</a> or <a href="https://calendly.com/golaminar/30-minute-call">pick a time to talk</a>.</p>
    </section>

{% include footer.html %}
</body>
</html>
