<!DOCTYPE html>
<html>

<head>
    <title>Laminar | {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for writings from golaminar.de" href="https://www.golaminar.de/writings.xml">
    <link rel="stylesheet" href="../site.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% endif %}
    {% if page.image %}<meta property="og:image" content="https://www.golaminar.de/writings/thumbnails/{{ page.image }}">{% endif %}
    <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="illustrations.css">
    <link rel="stylesheet" href="queue-illustrations.css">
    <script src="illustration-helpers.js"></script>
</head>

<body class="writing">
    <header>
        <h1><a href="https://golaminar.de">Laminar</a></h1>
    </header>
    <main>
        <article>
            <h2>
                {{ page.title }}
                {% if page.subtitle %}<br><span class="subtitle">{{ page.subtitle }}</span>{% endif %}
            </h2>

{{ content }}

        </article>
    </main>
    <footer>
        <div class="footer-container">
            <span class="names"><a href="https://www.linkedin.com/in/tconroy/">Tiffany Conroy</a> & <a
                    href="https://www.linkedin.com/in/another-tom-stuart/">Thomas Stuart</a> GbR</span>
            <span class="email"><a href="mailto:hello@golaminar.de">hello@golaminar.de</a></span>
            <span class="address">Colbestr. 29, 10247 Berlin</span>
        </div>
    </footer>
</body>

</html>
