<!DOCTYPE html>
<html>

<head>
    <title>Laminar | {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for writings from golaminar.de" href="https://www.golaminar.de/writings.xml">
    <link rel="stylesheet" href="../site.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% endif %}
    {% if page.image %}<meta property="og:image" content="https://www.golaminar.de/writings/thumbnails/{{ page.image }}">{% endif %}
    <meta property="og:url" content="https://www.golaminar.de{{ page.url }}">
{% if page.custom_css %}
{% for css_file in page.custom_css %}
    <link rel="stylesheet" href="{{ css_file }}.css">
{% endfor %}
{% endif %}
{% if page.custom_js %}
{% for js_file in page.custom_js %}
    <script src="{{ js_file }}.js"></script>
{% endfor %}
{% endif %}
</head>

<body class="writing">
    <header>
        <h1><a href="https://golaminar.de">Laminar</a></h1>
    </header>
    <main>
        <header class="breadcrumbs">
            Other <a href="/writings/">Thoughts from Tom and Tiffany</a>
        </header>

        <article>
            <h2>
                {{ page.title }}
                {% if page.subtitle %}<br><span class="subtitle">{{ page.subtitle }}</span>{% endif %}
            </h2>

{% include byline.html %}

{{ content }}

        </article>
    </main>

{% include footer.html %}

</body>

</html>
