figure {
    margin: 1em 0;
    padding: 0;
    font-size: 0.75em;
}

figcaption {
    margin: 1em 2em;
}

figure input {
    width: 5em;
    font-size: 16px;
}

.simulation-controls {
    float: right;
}

.simulation-settings {
    min-width: 300px;
}

figure button {
    font-size: 1em;
    border: 1px solid #bbb;
    background: #e6e6e6 url(button-bg.png) 50% 50% repeat-x;
    font-weight: normal;
    border-radius: 4px;
    padding: 0.4em 1em;
    cursor: pointer;
}

figure button:not(:disabled):hover {
    border-color: #999;
    background-image: url(button-bg-hover.png);
    color: #000;
}

.illustration {
    margin: 2em 0;
}

.panel img {
    max-width: 100%;
    height: auto;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    font-size: 1em;
}

.panel>figcaption {
    flex: 150px;
}

.panel>div {
    flex: 450px;
}
