figure {
    margin: 1em 0;
    padding: 0;
}

.queue {
    position: relative;
    min-height: 30em;
    font-size: 4px;
    margin: 20px 0;
    padding: 0;
    overflow: auto;
}

.queue > * {
    float: right;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    text-align: center;
    vertical-align: text-bottom;
    line-height: 2.6em;
    margin: 0.25em;
    padding: 0;
    list-style-type: none;
    color: transparent;
}

.queue-simulation.col {
    flex: 10%;
}

.queue-simulation.col .cols > div {
    flex: 40%;
}

.queue-simulation {
    font-size: 12px;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #ffffff55;
}

.simulation-settings {
    font-size: 14px;
}

table.queue-status {
    width: 100%;
}

th {
    text-align: left;
}

.queue-length {
    font-size: 2em;
}

td.number {
    text-align: right;
}

.list-of-times {
    padding: 0;
}

.list-of-times li {
    list-style: none;
}

.lists-of-times td ol {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

