.queue {
    margin: 0;
    padding: 0;
}

.queue-container {
    font-size: 4px;
    height: 12em;
}

.queue > * {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    text-align: center;
    vertical-align: text-bottom;
    line-height: 2.6em;
    margin: 0.25em;
    padding: 0;
    list-style-type: none;
    color: transparent;
}

.queue-length {
    min-width: 2em;
    text-align: center;
    display: inline-block;
    padding: 0 0.25em;
    font-size: 1.5em;
}

.avg-wait-time {
    min-width: 3em;
    text-align: center;
    display: inline-block;
    padding: 0 0.25em;
}

#queue-simulations {
    margin: 0.5em 0;
    gap: 10px;
}

.queue-simulation.col {
    flex: 100%;
}

.queue-simulation {
    font-size: 12px;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #ffffff55;
}

.list-of-times {
    padding: 0;
}

.list-of-times li {
    list-style: none;
}

.lists-of-times td ol {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
